.main {
  min-height: 100vh;
  background: var(--color-background);
  display: flex;
  padding: 3rem;
}

.container {
  background: rgb(230, 242, 248);
  width: 100%;
  height: 100%;
  padding: 3rem;
  border-radius: 2rem;
}
.titlearea {
  display: flex;
  width: 100%;
  padding: 0 2rem 3rem 2rem;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(70, 70, 70, 1);
}

.information {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.login {
  display: flex;
  flex-direction: column;
  padding: 2rem 10%;
  width: 80%;
  gap: 1rem;
}

.rightinformation {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 100%;
  background: rgb(196, 196, 196);
  font-family: sans-serif;
}

.rightinformation h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(70, 70, 70, 1);
}

.loginwithgoogle {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  outline: none;
  width: 100%;
}

.loginwithgoogle:hover {
  border-color: var(--color-input-border);
  cursor: pointer;
}

.loginwithgoogle:focus {
  background: var(--color-input-border);
  border: 2px solid rgb(0, 0, 0);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: var(--color-input);
  border: 2px solid var(--color-input);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  outline: none;
  width: 100%;
}

.input:hover {
  border-color: var(--color-input-border);
}

.input:focus,
.input:active {
  border-color: var(--color-input-focus);
}

.centeronly {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkbox [type="checkbox"] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 2px solid #cacece;
  padding: 7px;
  border-radius: 3px;
  display: inline-block;
}

.checkbox:hover{
  border-color: var(--color-input-border);
}
.checkbox :checked {
  border-color: rgb(43, 110, 255);
}

.lablecenter {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
}

.textjustify {
  text-align: justify;
}

@media (max-width: 480px) {
}

@media (max-width: 1050px) {
  .main {
    padding: 1rem;
  }
  .container {
    padding: 1rem;
  }
  .login {
    width: 100%;
    padding: 1rem 23%;
  }
  .rightinformation {
    display: none;
  }
}

.signin{
  display: flex;
  justify-content: flex-end;
}

.signinBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: var(--color-button);
}

.signinBtn:hover{
  background: var(--color-button-hover);
  color: var(--color-input-focus);
  cursor: pointer;
}








@media (max-width: 480px) {
  .login {
    padding: 1rem 10%;
  }
}
