.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80%;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 0 10px 0 0;
    background: var(--color-profilebar-container);
}

.information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
}

.information > button {
    display: flex;
    align-items: center;
    background: none;
    gap: 0.5rem;
    border: none;
    font-size: 0.784em;
}


.information :hover {
    color: var(--color-button-hover);
    transition: all 0.1s ease;
}

.icon {
    width: 1.5rem;
}

@media (max-width: 950px) {
}
