.container {
    background: var(--color-profilebar-container);
    padding: 0rem 0rem;
    box-shadow: var(--component-boxshadow-heavy);
    display: flex;
    position: fixed;
    width: 70px;
    min-height: 640px;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    top:140px;  
  }

.Navul {
    list-style: none;
}