@font-face {
  font-family: 'Planner';
  src: url('../fonts/Planner.eot');
  src: url('../fonts/Planner.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Planner.woff2') format('woff2'),
      url('../fonts/Planner.woff') format('woff'),
      url('../fonts/Planner.ttf') format('truetype'),
      url('../fonts/Planner.svg#Planner') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Planner';
}

* {
  box-sizing: border-box;
  font-size: 1rem;
}
a,
button {
  color: rgba(46, 46, 46, 1);
  font-family: 'Planner';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
button,
input,
textarea,
select,
label,
div {
  color: rgba(46, 46, 46, 1);
  font-family: 'Planner';
}

:root {
  --color-container: rgba(177, 219, 255, 1);
  --color-profilebar-container: rgba(119, 185, 243, 1);
  --color-background: rgba(214, 234, 243, 1);
  --color-button: rgba(94, 179, 255, 1);
  --color-button-hover: rgba(153, 207, 255, 1);
  --color-input: rgba(229, 229, 229, 1);
  --color-input-border: rgba(148, 148, 148, 1);
  --color-input-focus: rgba(70, 70, 70, 1);

  --component-boxshadow-heavy: 0px 0px 15px rgba(0, 0, 0, 0.2);
  --component-boxshadow-light: 0px 0px 10px rgba(0, 0, 0, 0.1);
  --component-borderradius: 5px;
  --component-button-borderradius: 5rem;

  --font-name : 'Planner';
}

::-webkit-scrollbar {
  width: 0.4rem;
  overflow-y: auto;
}
::-webkit-scrollbar-thumb {
  background: var(--color-input-border);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-input-focus);
}
::-webkit-scrollbar-track {
  background: var(--color-input);
}
